<div class="container">
  <div class="d-flex flex-column align-items-center text-center">
    <form class="w-50" method="post">
      <label for="urlInput" class="form-label mb-3 mt-3">Input URL</label>
      <div class="input-group mb-3">
        <input type="url" class="form-control" placeholder="http://" aria-label="Recipient's username"
          aria-describedby="button-addon2" name="originalUrl" required>
        <button class="btn btn-outline-danger" type="submit" id="button-addon2">Shorten</button>
      </div>
    </form>
  </div>
</div>