<div class="container">
  <form>
    <label for="urlInput" class="form-label mb-3 mt-3">URL Created!</label>
    <div class="input-group mb-3">
      <input type="url" class="form-control" placeholder="http://" aria-label="Recipient's username"
        aria-describedby="button-addon2" name="shortUrl" id="copy-url" value="{{this.shortUrl}}" >
      <button class="btn btn-outline-success" type="button" id="button-addon2" onclick="copyByClick()">Copy</button>
      <a class="btn btn-outline-success" href="{{this.originalUrl}}">Go</a>
    </div>
    <a class="btn btn-success" href="/">Back</a>
  </form>
</div>

<script>
  function copyByClick() {
    const copyText = document.getElementById("copy-url");
    navigator.clipboard.writeText(copyText.value)
    .then(() => alert("copied!"))
    .catch(() => alert("fail"))
    }
</script>